{%  extends 'base.html.twig' %}

{% block title %}
    carte des fablabs
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('map') }}
{% endblock %}

{% block body %}
    <div id="map">

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# encore_entry_script_tags('map') #}
    <script type="text/javascript">
        let map, infoWindow;
        function initMap()
        {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 50.6307, lng:3.0709},
                zoom: 16
            });
            infoWindow = new google.maps.InfoWindow;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                    let pos = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };

                    infoWindow.setPosition(pos);
                    infoWindow.setContent('Location found.');
                    infoWindow.open(map);
                    map.setCenter(pos);
                }, function() {
                    handleLocationError(true, infoWindow, map.getCenter());
                });
            } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindow, map.getCenter());
            }
        }

        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
            infoWindow.setPosition(pos);
            infoWindow.setContent(browserHasGeolocation ?
                'Error: Le service géocalisation à échoué.' :
                'Error: Votre navigateur ne supporte pas la géocalisation.');
            infoWindow.open(map);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAg_4m9qwgn596ZR6xJsTUVbAe_jg5i67M&callback=initMap" async defer></script>
{% endblock %}