$teal-color: #008080;

$customBlue:rgb(26, 65, 89);
$customBeige:rgb(242, 186, 82);
$customSkyblue:rgb(3, 166, 166);
$customRed:rgb(217, 24, 24);
$customWhite:rgb(255, 255 ,255);
$customGreen:rgb(142, 191, 107);

$primary: $customBlue;
$link-color: $customBeige;
$link-colorHover: $customWhite;

$secondary: $customGreen;
$secondary-link-color:$customWhite;

