@import "vars";
@import "~bootstrap/scss/bootstrap";
@import "scss/fontawesome.scss";
@import "scss/brands.scss";
@import "scss/solid.scss";
@import "~slick-carousel/slick/slick";
@import "~slick-carousel/slick/slick-theme";


@font-face {
  font-family: 'Jaapokki';
  src: url('../fonts/Jaapokki/jaapokki-regular.eot') format('eot');
  src: url('../fonts/Jaapokki/Jaapokki-Regular.otf') format('otf');
  src: url('../fonts/Jaapokki/jaapokki-regular.svg') format('svg');
  src: url('../fonts/Jaapokki/jaapokki-regular.ttf') format('ttf');
  src: url('../fonts/Jaapokki/jaapokki-regular.woff') format('woff');
}

.navHeaderBar{
  width:100%;
  min-height:80px;
  display:inline-flex;
  background-color: $primary;
  a{
    right:5vw;
    color: $link-color;
    text-decoration:none;
    font-family: $font-primary;
  }
  a:hover{
    color: $link-colorHover;
  }
  .logoutBtn{
    color:$customRed !important;
  }
  .logoutBtn:hover{
    color:$link-colorHover !important;
  }
  .loginBtn{
    color:$customSkyblue !important;
  }
  .loginBtn:hover{
    color:$link-colorHover !important;
  }
}
.navSubBar{
  background-color:$secondary;
}
.navLinkBar{
  a{
    color:$secondary-link-color !important;
    font-family: $font-primary;
    font-size:20px;
  }
  a:hover{
    color:$link-color !important;
  }
}
.logoHeader{
  max-width:180px;
}
#mainFooter{
  background-color:$primary;
  width:100%;
  position:static;
  bottom:0px;
  margin-bottom:0px;
}
#primMainFooter{
  text-align: center;
  span{
    font-size:25px;
    font-family: $font-primary;
    color:$link-color;
  }
  ul{
    margin-top:10px;
    list-style-type: none;
    a{
      font-family: $font-primary;
      position:relative;
      left:-20px;
      margin-top:10px;
      color:$secondary-link-color;
      text-decoration:none;
      font-size:20px;
    }
    a:hover{
      color:$link-color;
    }
  }
}
.mainFooterSection{
  position:relative;
  margin-top:15px;
  margin-bottom:20px;
}
#subMainFooter{
  background-color:$secondary;
  width:100%;
  min-height:50px;
  max-height:200px;
  margin-bottom:0px;
  text-align:center;
  span{
    position: relative;
    bottom:10px;
    font-size:30px;
    color:$secondary-link-color;
    font-family: $font-primary;
  }
  a{
    text-decoration: none;
    font-size:20px;
    font-family: $font-secondary;
    color:$link-colorHover;
    position:relative;
    bottom:5px;
  }
  a:hover{
    color:$primary;
  }
}
.fa-facebook-square{
  font-size:40px;
  color:$secondary-link-color;
}
.fa-facebook-square:hover{
  color:$link-color;
}
.fa-instagram{
  font-size:40px;
  color:$secondary-link-color;
}
.fa-instagram:hover{
  color:$link-color;
}
.fa-twitter{
  font-size:40px;
  color:$secondary-link-color;
}
.fa-twitter:hover{
  color:$link-color;
}

.aboutUs{
  color:$link-color;
  text-decoration:none;
  font-size:25px;
  font-family:$font-primary;
}
.aboutUs:hover{
  color:$secondary-link-color;
  text-decoration: none !important;
}
@media (max-width: 767.98px) {
  #categorySection{
    text-align: center;
  }
  .subLinkbar{
    display:block;
    margin-right: auto;
    margin-left:auto;
  }
  .navbar-toggler{
    background:$secondary-link-color !important;
  }
  .navbar-toggler:hover{
    background:$primary !important;
  }
  .navbar-toggler:focus, .navbar-toggler:active {
    background:$primary !important;
    outline: none !important;
    box-shadow: none !important;
  }
  .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(142, 191, 107)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .logoMain{
    max-width:50%;
    margin-left:25%;
    margin-right:25%;
  }
  .navHeaderBar{
    a{
      font-size:20px;
    }
  }
}
@media (min-width: 768px) {
  #categorySection{
    text-align: left !important;
  }
  .subLinkbar{
    display:inline-flex;
    margin-right: auto;
    margin-left:auto;
  }
  #body{
    min-height:70vh;
  }
  .logoMain{
    max-width:275px;
    margin-left:0px;
  }
  #primMainFooter{
    display:inline-flex;
    width:100%;
  }

  .navHeaderBar{
    a{
      font-size:25px;
    }
  }
}

.media{
  margin:20px 10px 0 10px !important;
  width:40px;
  height:40px;
}
.media:hover{
  margin-top:20px;
  width:40px;
  height:40px;
  color:transparent;
}

a.comingSoon{
  text-decoration: none;
  opacity: 0.5 !important;
}
a.comingSoon:hover{
  color:white !important;
  cursor:default !important;
}