@import "vars";
@import "~bootstrap/scss/bootstrap";

.title-police {
  font-family: 'Nunito', sans-serif;
}

.content-police {
  font-family: 'Ubuntu', sans-serif;
}

.bg-color-teal {
  background-color: $teal-color;
}

.link-deco-none {
  text-decoration: none;
  color: white;
}

.home-card-contest-bg {
  background-image: url(https://via.placeholder.com/300x100);
}

.home-card-lessons-bg {
  background-image: ;
}

.home-card-tutorials-bg {
  background-image: ;
}

.home-form-bg {
  background-image: ;
}
