@import "vars";

h1{
  margin-top:20px;
  text-align: center;
  text-anchor: middle;
  font-size:35px;
  font-family: $font-primary;
}

p{
  font-size:20px;
  font-family: $secondary;
}

.btnRead{
  border-radius:0px !important;
  border-top:1px solid $primary;
  background-color:$customSkyblue;
  color:$link-colorHover;
  font-size:20px;
  font-family:$font-secondary;;
}

.btnRead:hover {
  background-color: $link-color;
}

.btnRead:focus, .btnRead:active {
  background:$link-color !important;
  outline: none !important;
  box-shadow: none !important;
}

@media screen and (min-width: 768px) {
  #body {
    min-height: 60vh;
  }
}

.cardBlog {
  width:400px !important;
  margin:0 auto 20px auto;
  border:1px solid $primary;
  border-radius:0px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;

  h2{
    margin-top:5px;
    margin-bottom:10px;
    font-family:$font-primary;
    font-size:20px;
    text-align: center;
  }
  p{
    font-family:$font-secondary;
    font-size:16px;
    text-align: left;
  }
  .card-img-top{
    margin-top:20px !important;
    max-height:300px;
    max-width: 300px;
    margin-right:auto;
    margin-left:auto;
    object-fit: contain;
  }
  .card-body{
    flex:none;
  }
}

#blogCards{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  .container{
    min-width:80% !important;
  }
}