@import "vars";

#blogPresentation{
  h1{
    margin-top:20px;
    text-align: center;
    text-anchor: middle;
    font-size:35px;
    font-family: $font-primary;
  }
}

.by{
  text-align: right;
  text-anchor: middle;
  font-family: $font-secondary;
  font-size:14px;
}

article{
  position:relative;
  top:-25px;
}

.single-post-content-wrapper{
  p{
    text-align: justify;
    font-family: $font-secondary;
  }
}

.return
{
  color: $customRed;
  font-size:18px;
  font-family: $font-secondary;
}
.return:hover{
  text-decoration: none;
}

aside{
  margin:10px 10px;
  border:1px solid $primary;
  border-radius:0px;
  ul{
    margin-top:10px;
    list-style: none;
    counter-reset: step;
    a:hover{
      color:$primary;
      text-decoration: none;
    }
  }
}

@media (max-width:767.98px){
  .asideDesktop{
    display:none;
  }

  .asideMobile{
    margin-bottom: 20px;
  }
  .image-wrapper{
    img{
      max-width:100%;
      height:auto;
    }
  }
}

@media (min-width: 768px){
  #body{
    min-height:60vh;
  }
  aside{
    margin-left:1%;
    width:21%;
  }
  .asideMobile{
    display:none;
  }

  .container{
    margin-bottom: 20px;
  }
  .image-wrapper{
    img{
      position:relative;
      top:17px;
      max-width:30vw;
      height:auto;
    }
  }
}

@media (min-width: 1199.98px){
  #body{
    min-height:60vh;
  }
  aside{
    margin-left:1%;
    width:21%;
  }
  .asideMobile{
    display:none;
  }

  .container{
    margin-bottom: 20px;
  }
  .image-wrapper{
    img{
      position:relative;
      top:17px;
      max-width:20vw;
      height:auto;
    }
  }
}

.image-wrapper{
  img{
    margin:10px;
  }
}