@import "vars";

body{
  background: url(../images/contact.jpg) no-repeat center;
}

.contactDiv {
  padding-top:10px;
  padding-bottom:10px;
  background: rgba(255, 255, 255, 0.9);
  label {
    font-size: 20px;
    font-family: $font-secondary;
  }
  h1 {
    margin-top: 20px;
    margin-bottom:20px;
    font-family: $font-primary;
    font-size: 35px;
    text-align: center;
  }

  .btnContact{
    margin-top:10px;
    margin-bottom:20px;
    background-color:$customSkyblue;
    color:$link-colorHover;
    font-size:20px;
    font-family:$font-secondary;
  }
  .btnContact:hover {
    background-color:$link-color!important;
    color:$link-colorHover;
    transition:0.4s ease;
  }

  .btnContact:focus, .btnContact:active {
    background:$link-color !important;
    outline: $link-colorHover !important;
    box-shadow: none !important;
  }
}

.opacity{
  position:fixed;
  left:0;
  top:0;
  margin:0;
  height:100%;
  width:100%;
  z-index:-1;
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 767.98px){
  .contactDiv{
    margin:20px 4vw;
    max-width:90vw;
  }
  form{
    max-width:80%;
    margin-left:10%;
    margin-right:10%;
    display:flex;
    flex-direction: column;
  }
}

@media (min-width: 768px){
  .contactDiv{
    margin-top:5vh;
    margin-bottom:5vh;
    max-width:60%;
  }
  form{
    display:flex;
    flex-direction: column;
    max-width:70%;
    margin-left:15%;
    margin-right:15%;
  }
  #body{
    min-height:40vh;
  }
}

@media (min-width: 1199.98px){
  .contactDiv{
    margin-top:10vh;
    margin-bottom:10vh;
    max-width:45%;
  }
  form{
    display:flex;
    flex-direction: column;
    max-width:60%;
    margin-left:20%;
    margin-right:20%;
  }
  #body{
    min-height:30vh;
  }
}