@import "vars";

h1{
  margin-top:20px;
  text-align: center;
  text-anchor: middle;
  font-size:35px;
  font-family: $font-primary;
}

p{
  text-align: center;
  font-size:20px;
  font-family: $secondary;
}

.btnRead{
  border-radius:0px !important;
  border-top:1px solid $primary;
  background-color:$customSkyblue;
  color:$link-colorHover;
  font-size:20px;
  font-family:$font-secondary;;
}

.btnRead:hover {
  background-color: $link-color;
}

.btnRead:focus, .btnRead:active {
  background:$link-color !important;
  outline: none !important;
  box-shadow: none !important;
}

.btnInfo{
  border:1px solid $customSkyblue;
  background-color:transparent;
  color:$customSkyblue;
  font-family:$font-secondary;;
}

.btnInfo:hover {
  background-color: $customSkyblue;
  color:$link-colorHover;
}

.btnInfo:focus, .btnInfo:active {
  background: rgba(1, 100, 100, 0.9);
  outline: none !important;
  box-shadow: none !important;
}

.card {
  margin:20px auto;
  border:1px solid $primary;
  border-radius:0px;
  h2{
    font-family:$font-primary;
    font-size:20px;
    text-align: center;
  }
  p{
    font-family:$font-secondary;
    font-size:16px;
    text-align: left;
  }
}

@media (max-width: 767.98px){
  .card {
    max-height: 100%;
    max-width:80%;
  }
  #mobile{
    display:flex;
    flex-direction: column;
    a{
      margin-top:5px;
      margin-bottom:5px;
    }
  }
  #desktop{
    display:none !important;
  }
}

@media (min-width: 768px) {
  .card {
    max-height: 100%;
    max-width:60%;
  }
  #body {
    min-height: 60vh;
  }
  #desktop{
    max-width: 85%;
  }
  #mobile{
    display:none !important;
  }
}

@media (min-width: 1199.98px){
  #categoryPicker{
    max-width: 70%;
  }
  #mobile{
    display:none !important;
  }
}

#nop{
  margin-top:30px;
  margin-bottom: 10px;
}

#pick{
  margin-bottom: 20px;
}