@import "vars";

body
{
  background: url(../images/pass.jpg) no-repeat center;
}



#passwordEdit
{
  background-color: rgba(255, 255, 255, 0.3);
  margin:auto;
  margin-left: 30%;
  margin-right: 30%;
}

.btnEdit
{
  margin-left: 38%;
  background-color: rgb(3, 166, 166);
  font-size: 20px;
}

.btnEdit:hover
{
  background-color: $link-color !important;
  color: $link-colorHover;
  transition: 0.4s ease;
}

.opacity{
  position:fixed;
  left:0;
  top:0;
  margin:0;
  height:100%;
  width:100%;
  z-index:-1;
  background: rgba(255, 255, 255, 0.3);
}
