.contentCollapse {
  display: none;
  max-width: 96vw; }

.customCollapse {
  margin-left: 2vw;
  margin-right: 2vw; }

.customCollapse button {
  position: relative;
  top: -36px;
  left: 100px; }

.tutoPresentation {
  text-align: center;
  text-anchor: middle; }

.cardTutorial {
  max-width:400px;
  min-width:200px;
  margin:20px auto;
}

#tutorial h1{
  text-align: center;
  text-anchor: middle;
}

#invisible {
  display: none;
}