@import "vars";

.contentCollapse {
  display: none;
  max-width: 100vw;
}

.customCollapse {
  margin:5px 2vw;
  p{
    font-family:$font-secondary;
    font-size:15px;
  }
  span{
    font-family:$font-secondary;
    font-size:20px;
  }
}

.steps {
  list-style: none;
  counter-reset: step;
}
.steps li {
  counter-increment: step;
}
.steps li::before {
  content: counter(step) ") ";
  color: $secondary;
  font-family: $font-primary;
  font-size:20px;
  position:relative;
  top:15px;
}

.tools {
  list-style: none;
  counter-reset: step;
}
.tools li {
  counter-increment: step;
}
.tools li::before {
  content: counter(step) ") ";
  color: $secondary;
  font-family: $font-primary;
  font-size:20px;
  position:relative;
  top:15px;
}

.customCollapse button {
  position: relative;
  top:-22px;
  color:$link-colorHover !important;
  font-size:20px;
  font-family:$font-secondary;;
}

.customCollapse button:hover {
  background-color: $link-color !important;
}

.customCollapse button:focus, .customCollapse button:active {
  background:$link-color !important;
  outline: none !important;
  box-shadow: none !important;
}

.metadata{
  text-align: center;
  margin-top:10px;
  margin-bottom:20px;
  span{
    font-family: $font-primary;
    font-size:20px;
  }
}

.tutoPresentation{
  margin-top:20px;
  text-align: center;
  text-anchor: middle;
}

.titleShow{
  font-size:35px;
  font-family: $font-primary;
}
.tutoText{
  margin-top:10px;
  font-family:$font-secondary;
  font-size:20px;
  margin-bottom:10px;
}


body{
  overflow-x: hidden;
}

.tutorialIndexH1{
  margin-top:20px;
  margin-bottom: -5px;
  font-family:$font-primary;
  font-size:35px;
  text-align: center;
}

.tutorialIndexDescription{
  margin-top:10px;
  margin-bottom: 10px;
  font-family: $font-secondary;
  font-size:20px;
  text-align: center;
}

.cardTutorial {
  max-width:300px;
  min-width:200px;
  margin:20px auto;
  border:1px solid $primary;
  border-radius:0px;
  h2{
    font-family:$font-primary;
    font-size:20px;
    text-align: center;
  }
  .metadata{
    font-family:$font-secondary;
    font-size:15px;
    text-align: center;
  }
  .card-text{
    font-family:$font-secondary;
    font-size:15px;
    text-align: center;
  }
  .card-img-top{
    margin-top:20px !important;
    max-height:200px;
    max-width: 200px;
    margin-right:auto;
    margin-left:auto;
  }
}
#tutorialIndex{
  .row{
    max-width:94vw;
    margin-right:3vw;
    margin-left:3vw;
  }
  display:flex;
  justify-content: center;
  margin-bottom: 20px;
}
@media (max-width: 767.98px){
  body{
    overflow-x: hidden;
  }
}

#invisible {
  display: none !important;
}

.btnCard{
  border-radius:0px !important;
  background-color:$customSkyblue;
  color:$link-colorHover;
  font-size:20px;
  font-family:$font-secondary;;
}

.btnCard:hover {
  background-color: $link-color;
}

.btnCard:focus, .btnCard:active {
  background:$link-color !important;
  outline: none !important;
  box-shadow: none !important;
}