<footer class="container-fluid row mx-auto title-police">
    <div class="d-inline-flex bg-dark w-100 text-white align-items-center">
        <img class="d-none d-md-block" src="https://via.placeholder.com/150" alt="playful_kit_logo">
        <ul class="list-unstyled col-3 text-center">
            <h5>Category :</h5>
            <li>
                <a class="link-deco-none" href="#">Lessons</a>
            </li>
            <li>
                <a class="link-deco-none" href="#">Tutorials</a>
            </li>
            <li>
                <a class="link-deco-none" href="#">Educators</a>
            </li>
        </ul>
        <div class="col-3 text-center">
            <h5><a class="link-deco-none" href="#">About Us</a></h5>
        </div>
        <div class="col-3 text-center">
            <h5 class="mb-3">Follow Us</h5>
            <div class="row justify-content-around">
                <img src="https://via.placeholder.com/30" alt="facebook_logo">
                <img src="https://via.placeholder.com/30" alt="twitter_logo">
                <img src="https://via.placeholder.com/30" alt="youtube_logo">
                <img src="https://via.placeholder.com/30" alt="github_logo">
            </div>
        </div>
    </div>
    <div class="d-flex text-white bg-color-teal w-100">
        <h4 class="mx-auto mt-2 mb-2">2019 - Playfulkit</h4>
    </div>
</footer>