<footer>
    <div class="row">
        <img src="https://via.placeholder.com/150" alt="playful_kit_logo">
        <ul>
            <li>
                <a href="#">Category</a>
            </li>
            <li>
                <a href="#">Lessons</a>
            </li>
            <li>
                <a href="#">Tutorials</a>
            </li>
            <li>
                <a href="#">Educators</a>
            </li>
        </ul>
        <a href="#">About us</a>
        <p>Follow us</p>
        <ul class="row">
            <li>
                <img src="https://via.placeholder.com/30" alt="facebook_logo">
            </li>
            <li>
                <img src="https://via.placeholder.com/30" alt="twitter_logo">
            </li>
            <li>
                <img src="https://via.placeholder.com/30" alt="youtube_logo">
            </li>
            <li>
                <img src="https://via.placeholder.com/30" alt="github_logo">
            </li>
        </ul>
    </div>
    <div >
        <h4>2019 - Playfulkit</h4>
    </div>
</footer>