<header>
    <div class="row">
        <img src="https://via.placeholder.com/150" alt="playful_kit_logo">

        {# Delete form part after create the real search form with symfony #}
        <form>
            <input type="text" name="searchField" placeholder="search" id="search">
        </form>
    </div>
    <div>
        <a href="#">Contest</a>
        <a href="#">Lessons</a>
        <a href="#">Tutorials</a>
        <a href="#">Shop</a>
        <a href="#">Educators</a>
        <a href="#">Contact</a>
        <a href="#">Blog</a>
    </div>
</header>