{% extends 'base.html.twig' %}

{% block body %}
    <section class="container">
       <p>
           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, fuga, ipsum! Aliquid asperiores atque distinctio earum,
           enim, expedita id ipsam labore, magnam modi nobis non nulla quo quod reiciendis rerum tempora unde veniam vero vitae.
           Adipisci beatae cupiditate dolorum exercitationem inventore minima nesciunt odit provident sed! Aut blanditiis consectetur
           corporis fuga magni nemo officiis ullam!
       </p>

        <h1>Conditions Générales d'utilisation</h1>

        <div>
        <h4>Présentation du site</h4>
        <br>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur dolore esse eum expedita illo incidunt nisi odit officiis perferendis.
            Corporis ipsam iure labore tenetur voluptas.
        </p>

        <p><strong>Informations légales : </strong></p>
        <p>Statut du propriétaire : <strong>societe</strong><br />
            Préfixe : <strong>Playfulkit</strong><br />
            Nom de la Société :<strong>Playfulkit</strong><br />
            Adresse : <strong>Euratechnologie 59000 Lille</strong><br />
            Tél  : <strong>0000000000</strong><br />
            SIRET :  <strong>##############  <br />
            Numéro TVA intracommunautaire : <strong>#########</strong><br />
            Adresse de courrier électronique : <strong>################</strong> <br />
            <br />
            Le Créateur du site est : <strong>###</strong></strong><br />
            Le Responsable de la  publication est : <strong>###</strong><br />
            Contactez le responsable de la publication : <strong>###</strong><br />
            Le responsable de la publication est une <strong>####</strong><br />
            <br />
            L’hebergeur du site est : <strong>###########</strong><br />



            <h4>Description des services fournis</h4><br>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci, aliquam aspernatur atque, consequuntur culpa
                deserunt est exercitationem maiores officia quas qui quisquam reprehenderit sed vitae. Alias animi blanditiis consectetur
                corporis cum dicta id in labore modi molestiae mollitia nemo, nisi non nulla porro quae quibusdam quis quos reprehenderit
                sapiente sed similique sunt, tempora voluptatem voluptates! Autem culpa cupiditate facilis harum impedit in incidunt ipsa
                iusto quisquam? Aliquid amet asperiores autem blanditiis debitis delectus dicta ducimus exercitationem fugiat, illum inventore
                libero neque, similique, tempore temporibus voluptates voluptatibus. Ad culpa dolores impedit voluptatem voluptates! Aliquam ducimus
                error incidunt quidem rem rerum. Alias aspernatur at commodi debitis distinctio dolore dolores doloribus, ea eos eum fuga inventore iste
                laudantium, maxime obcaecati officiis quasi quo quos. Adipisci delectus dicta doloremque est eveniet fugit hic inventore laborum maiores
                minus, mollitia nam nisi quas, rem rerum vel voluptas! Ab animi aut consectetur, culpa distinctio doloremque dolores ea error eum eveniet
                illo, nesciunt perspiciatis rem soluta totam veniam, voluptate. Ab alias beatae culpa delectus deleniti deserunt dolor dolores ducimus
                ea et eveniet excepturi facilis harum illo illum inventore libero minima minus nobis perspiciatis possimus quasi quia ratione, sed sit
                ullam veniam voluptatem! Corporis dolorum incidunt tempore voluptatem!
            </p>
            <h4>Déclaration des droits et responsabilités</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem blanditiis consequuntur cum fugiat fugit ipsam, ipsum modi neque,
                nulla omnis pariatur possimus quasi ratione sequi tempore vero voluptatem. Consectetur consequatur cupiditate eos eum ex incidunt
                pariatur repudiandae temporibus, voluptas! Ad aliquam animi aspernatur assumenda, beatae delectus ex excepturi exercitationem fuga
                harum id incidunt iste itaque, maiores maxime mollitia nihil numquam optio pariatur porro possimus quas reiciendis saepe sequi soluta
                unde veritatis, voluptates. Culpa dignissimos ea fugiat fugit tempora vero. A atque consequatur dolores doloribus ducimus ea earum
                eligendi eveniet fugiat harum ipsa ipsam, ipsum iusto minima necessitatibus nihil numquam perspiciatis quasi repellat repellendus
                repudiandae saepe temporibus unde vel velit vero vitae? Aliquam, commodi debitis dignissimos distinctio nostrum perferendis, provident
                recusandae, repellendus saepe sint sit sunt vel voluptatum? Ad culpa deleniti magni? Accusantium adipisci aliquid aut culpa debitis
                deleniti doloremque doloribus dolorum eius, harum in ipsum iusto labore laudantium magnam magni, minima minus modi obcaecati odio odit
                officiis perferendis quae quaerat quo quos reprehenderit saepe soluta suscipit tempore temporibus ullam voluptas voluptate. Beatae
                cupiditate et in labore mollitia neque, nobis officiis quaerat temporibus? Atque aut eius eum illo incidunt inventore, magni minima
                modi molestias non omnis porro qui, quis recusandae sed temporibus veritatis voluptatum? A, asperiores, repudiandae. Alias at aut
                corporis dolores dolorum esse et exercitationem, expedita facilis illo libero molestias nam necessitatibus non numquam obcaecati
                optio quaerat quibusdam quos repellendus reprehenderit repudiandae sed sequi tempore totam veniam vero. Debitis et facilis in maxime
                nemo odit porro unde veritatis? Dolor, ut.
            </p>
            <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure quod, velit! Ab, adipisci animi asperiores cumque dolore doloribus
                ea enim, error illum nemo nulla quisquam quos sequi vel veritatis? Accusantium cum cumque debitis itaque laudantium magnam
                necessitatibus pariatur quidem veniam voluptatem! Accusamus, aspernatur beatae blanditiis cum deserunt dolores eos ex, illum maiores
                nesciunt nobis officia porro saepe sit vero! Atque aut culpa, cupiditate, dolor dolorem excepturi ipsam iusto labore magni nam nisi
                nostrum odio, quam sunt veritatis? Accusantium aperiam consequatur dignissimos expedita magni quam quisquam quo repellendus repudiandae
                vel! A adipisci aliquid architecto, autem commodi culpa, eius laborum nam nostrum officiis, optio quidem quis rem tenetur unde veritatis
                vitae. Ab aliquam animi architecto asperiores blanditiis consequuntur deleniti ea fuga id in inventore itaque laboriosam laborum, libero
                maiores minima, modi nihil odio perferendis perspiciatis provident quam quis quos sed sequi tempore unde veritatis! Aliquam blanditiis
                quas quasi quod! Consectetur culpa error incidunt, iusto nam natus numquam omnis rem sint ut. A adipisci asperiores corporis delectus
                dicta dolorem ea earum eius et eum exercitationem hic illo ipsa iste iusto labore laboriosam libero nisi non perspiciatis quae quam
                quibusdam quidem quo ratione reiciendis rem repellat repellendus, rerum sint sit soluta suscipit unde veniam vero voluptas voluptatibus?
                Cupiditate esse labore libero nemo pariatur soluta voluptatibus? Aliquid animi asperiores consectetur debitis dolore eius error id ipsa
                ipsam iure, labore libero nam natus necessitatibus vero voluptas, voluptatum. Debitis esse in quisquam saepe. Aliquam aperiam assumenda
                doloremque eaque inventore maxime optio, quidem quis, quod repellendus velit veniam?
            </p>


        </div>
    </section>
{% endblock %}