{% extends 'base.html.twig' %}

{% block title %}Modifie ton profil{% endblock %}

{% block body %}

        <h1>Modifie ton profil</h1>

        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('user_show', {'id': user.id}) }}">Retour à ton profil</a>

{% endblock %}
