{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('logIn') }}
{% endblock %}

{% block body %}
    <div class="opacity"></div>
    <div class="container logInDiv">
        <h1>C'est ici que tu peux te connecter !</h1>

        <form action="{{ path('user_login') }}" method="post">
            <div class="form-group">
                <label>Nom d'utilisateur :</label>
                <input placeholder="Pseudo" required name="_username" type="text" class="form-control"></input>
            </div>
            <div class="form-group">
                <label>Mot de passe :</label>
                <input placeholder="*******" required name="_password" type="password" class="form-control"></input>
            </div>
            <button type="submit" class="btn btnLogin">Connexion !</button>
        </form>
    </div>

{% endblock %}
