{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('logIn') }}
{% endblock %}

{% block body %}
    <div class="container logInDiv">
        <h1>Connexion :</h1>

        <form action="{{ path('user_login') }}" method="post">
            <div class="form-group">
                <input placeholder="Nom d'utilisateur" required name="_username" type="text" class="form-control"></input>
            </div>
            <div class="form-group">
                <input placeholder="Mot de passe" required name="_password" type="password" class="form-control"></input>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btnLogin">Connexion !</button>
            </div>
        </form>
    </div>

{% endblock %}
