<h1>Bonjour {{ people.prenom }} !</h1>

<p>Ton message a bien été envoyé !</p>
<p>j'ai bien reçu ton message, et je te répondrai rapidement.<br>
    Tu recevras un mail sur "{{ people.email }}" dès que ta demande aura été traitée.</p>
<p>En attendant, n'hésites pas à aller faire un tour sur <a href="{{ absolute_url(path('app_index')) }}">Playfulkit</a> et à commencer à apprendre dès aujourd'hui !<br>
    Tu peux même te <a href="{{ absolute_url(path('app_register')) }}">créer un compte</a> si ce n'est pas déjà fait, et comme ça, tu seras prêt pour l'aventure !!</p>
<br>
<p>Encore merci pour ton soutien, et à très bientôt !</p>
<br>
<p>Mathieu<br>Coding & Robotics Trainer<br>Playfulkit</p>
