<h1>Tu es inscris au concours !</h1>

<p>Ton inscription a bien été enregistrée !</p>
<p>j'ai bien reçu ta demande d'inscription au concours !.<br>
    Tu recevras un mail sur "{{ people.email }}" dès que le concours sera lancé !</p>
<p>En attendant, n'hésites pas à aller faire un tour sur <a href="{{ path('app_index') }}">Playfulkit</a> et à commencer à apprendre dès aujourd'hui !<br>
    Tu peux même te <a href="{{ path('app_register') }}">créer un compte</a> si ce n'est pas déjà fait, et comme ça, tu seras prêt pour l'aventure !!</p>
<br>
<p>Encore merci pour ton soutien, et à très bientôt !</p>
<br>
<p>Mathieu, webmaster de Playfulkit.</p>
