<h1>Tu as supprimé ton compte</h1>

<p>J'ai bien reçu ta demande, et je te confirme que ton compte sur Playfulkit a bien été supprimé.</p>
<p>Nous sommes curieux de connaitre les raison qui t'ont poussé à quitter lesite.<br>
Si tu le souhaites, tu peux nous faire part de tes raisons via notre <a href="{{ path('contact') }}">formulaire de contact</a>.</p>
<p>Et s'il advenait que tu changes d'avis, sens toi libre de te <a href="{{ path('app_register') }}"></a>créer un nouveau compte !</p>

<p>Encore merci pour ton soutien, et peut être à bientôt !</p>
<br>
<p>Mathieu, webmaster de Playfulkit.</p>
