<h1>Bienvenue sur Playfulkit !</h1>

<p>Bonjour, ton Compte sur playfulkit a bien été créé !</p>
<p>Tu peux te rendre dès maintenant sur <a href="{{ absolute_url(path('app_login')) }}">Playfulkit</a> pour commencer à apprendre des choses passionantes, sur la robotique,la programmation et bien plus encore !<br>
Tu peux également <a href="{{ absolute_url(path('shop')) }}">t'inscrire dès maintenant à la newsletter !</a><br>
Avec elle, tu seras informé du lancement des concours, mais également de la mise en vente des premiers kits de construction !</p>
<p>Encore merci pour ton soutien, et à très bientôt !</p>
<br>
<p>Mathieu<br>Coding & Robotics Trainer<br>Playfulkit</p>
