<h1>Tu t'es inscris à la newsletter !</h1>

<p>Nous avons bien reçu ta demande, et conformément à ce que l'on t'a expliqué sur le site, tu recevras un mail sur "{{ people.email }}" dès que les kits seront en vente.</p>
<p>En attendant, n'hésites pas à aller faire un tour sur <a href="http://localhost:8000">Playfulkit</a> et à jeter un oeil à ce qu'il est possible de faire avec tes futurs kits !<br>
Tu peux même te <a href="http://localhost:8000/register">créer un compte</a>, et comme ça, tu seras prêt pour l'aventure !!</p>
<br>
<p>Encore merci pour ton soutien, et à très bientôt !</p>
<br>
<p>Mathieu, webmaster de Playfulkit.</p>
